html, body {
    height: 100%;
}

.header-1{
    background-color: #FDAB73;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: auto;
}

body{
    background-image: url("/img/fotodefundo.jpg");
    font-family: gotham, arial, helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0 auto;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1230px;
}

.logo {
    float: left;
    max-width: 250px;
    max-height: 200x;
    width: auto;
    height: auto;
}

.logo img {
    width: 100%;
    height: auto;
}

.navBar{
    background-color: #57303F;
    display: flex;
    padding: 16px;
}

.navBar_items{
    display: flex;   
}

.navBar_link{
    padding-right: 15px;
    font-family: fantasy;
    color: white;
}

.home{
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    text-align: center;
    font-style: italic;
    font-size: x-large;
    display: flex;
    display: block;
    padding: 5px;
}

.home img{
    margin: auto;
    display: block;
}

a{
    color: currentColor;
}

.about{
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    text-align: center;
    font-style: italic;
    font-size: x-large;
    display: flex;
    display: block;
    padding: 5px;
}

.contact{
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    text-align: center;
    font-style: italic;
    font-size: x-large;
    display: flex;
    display: block;
    padding: 5px;
}

footer {
    background-color: #D74E55;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: static;
    width: 100%;
    bottom: 0;
}